h1, h2, h3, h4, h5, h6 {
  background-color: #0075A2;
  color: white;
  font-family: "Times New Roman", Georgia, Garamond;
  padding-left: 1.1em;
}

#content {
  max-width: 940px;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns: auto;
}

nav ul {
  list-style: none; /* removes the bullets! */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  align-items: center;
}

nav a:hover {
  background-color: white;
}


body {
  background-color: #ADF5FF;
  font-family: "Times New Roman", Georgia, Garamond;
}

nav {
  color: #0075A2;
  font-size: 1.1em;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.home-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
}

.home-2 {
  grid-column: 1 / span 2;
  grid-row: 2 / 3;
}

.home-3 {
  grid-column: 1 / span 2;
  grid-row: 3 / 4;
}

.home-img-1 {
  grid-column: 3 / span 1;
  grid-row: 1 / 2;
}

.home-img-2 {
  grid-column: 3 / span 1;
  grid-row: 2 / 3;
}

.home-img-3 {
  grid-column: 3 / span 1;
  grid-row: 3 / 4;
}

.home-img-1, .home-img-2, .home-img-3 {
  max-width: 100%;
}

.faq-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.faq-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
}

.faq-2 {
  grid-column: 1 / span 2;
  grid-row: 2 / 3;
}

.faq-3 {
  grid-column: 1 / span 2;
  grid-row: 3 / 4;
}

.faq-4 {
  grid-column: 1 / span 2;
  grid-row: 4 / 5;
}

.faq-5 {
  grid-column: 1 / span 2;
  grid-row: 5 / 6;
}

.faq-6 {
  grid-column: 1 / span 2;
  grid-row: 6 / 7;
}

.faq-7 {
  grid-column: 1 / span 2;
  grid-row: 7 / 8;
}

.faq-img-1 {
  grid-column: 3 / span 1;
  grid-row: 1 / 2;
}

.faq-img-2 {
  grid-column: 3 / span 1;
  grid-row: 2 / 3;
}

.faq-img-3 {
  grid-column: 3 / span 1;
  grid-row: 3 / 4;
}

.faq-img-4 {
  grid-column: 3 / span 1;
  grid-row: 4 / 5;
}

.faq-img-5 {
  grid-column: 3 / span 1;
  grid-row: 5 / 6;
}

.faq-img-6 {
  grid-column: 3 / span 1;
  grid-row: 6 / 7;
}

.faq-img-7 {
  grid-column: 3 / span 1;
  grid-row: 7 / 8;
}

.faq-img-1, .faq-img-2, .faq-img-3, .faq-img-4, .faq-img-5, .faq-img-6, .faq-img-7 {
  max-width: 100%;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.contact-img-left {
  grid-column: 1 / span 1;
  grid-row: 1 / 2;
}

.contact-img-right {
  grid-column: 3 / span 1;
  grid-row: 1 / 2;
}

.contact-1 {
  grid-column: 1 / span 3;
  grid-row: 2 / 3;
}

form {
  grid-column: 1 / span 3;
  grid-row: 3 / 4;
}

.contact-img-left, .contact-img-right {
  max-width: 100%;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.first-name {
  grid-column: 1 / span 1;
  grid-row: 1 / 2;
}

.last-name {
  grid-column: 2 / span 1;
  grid-row: 1 / 2;
}

.child-name {
  grid-column: 3 / span 1;
  grid-row: 1 / 2;
}

.phone-number {
  grid-column: 1 / span 1;
  grid-row: 2 / 3;
}

.email {
  grid-column: 2 / span 1;
  grid-row: 2 / 3;
}

.address {
  grid-column: 1 / span 3;
  grid-row: 3 / 4;
}

.call-back-time {
  grid-column: 1 / span 3;
  grid-row: 4 / 5;
}

.button {
  grid-column: 2 / span 1;
  grid-row: 5 / 6;
}









