

@media screen and (max-width: 550px) {
  /* beginning of medium media query */
  
  #content {
    max-width: 500px;
  }

  .lesson2-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
  }

  .lesson2-3 {
    grid-column: 1 / span 1;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
  }
  
  /* end of medium media query */
}

@media screen and (max-width: 350px) {
  /* beginning of small media query */
  
  #content {
    max-width: 300px;
  }

  .lesson2-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
  }

  .lesson2-2 {
    grid-column: 1 / span 1;
    max-width: 100%;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
  }

  .lesson2-3 {
    grid-column: 1 / span 1;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
  }
  
  /* end of small media query */
}